.form {
  line-height: 1.5;
  width: 300px;
  display: inline-block;
}

.form label {
  margin-top: 1rem;
  display: block;
}

.form input {
  display: block;
  width: 200px;
  margin-top: 0.8rem;
  height: 30px;
  border: none;
  border-bottom: 1px solid #34384b;
  background-color: transparent;
}

.form button {
  margin-top: 2rem;
}

.form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(0, 196, 110);
}
