.search-input-wrapper {
  display: flex;
  padding: 10px 0;
  position: relative;
}

.search-input-wrapper .search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-input-wrapper .input{
  outline: none;
  background: transparent;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  position: relative;
  border-bottom: 1px solid #8e90a2;
  padding: 0 0 0 27px;
  height: 2rem;
  font-size: 1rem;
  box-shadow: none;
  width: 100%;
}

.search-input-wrapper .input:focus {
  margin: 0;
  border-bottom: 1px solid #34384b;
  transform-origin: left center;
}

.search-input-wrapper .input::placeholder {
  color: #8e90a2;
  opacity: 1;
}